/* 
 #071e3d- Dark Blue
#1F4287 - Blue
#278EA5 - Teal
#21E6C1 - Mint
*/

* {
  background-color: #fff;
  color: #071e3d;
  margin: 0;
  padding: 0;
  font-family: lato;
}

#name {
  margin-top: 2rem;
  padding-top: 2rem;
}
#name h1 {
  text-align: center;
  font-weight: normal;
  font-size: 40px;
}

#title h2 {
  color: #278ea5;
  text-align: center;
  margin-top: 1rem;
  font-size: 25px;
}

.sub_title {
  color: #278ea5;
  margin-top: 1rem;
}

section {
  margin-bottom: 1rem;
}

.my_contact_info {
  text-align: center;
}
#my_contact_info ul li {
  color: #071e3d;
  display: inline;
}

hr {
}

#profile {
  position: relative;
  height: 212;
  width: 166;
}
