* {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: lato;
}

#name {
  margin-top: 2rem;
  padding-top: 2rem;
}
#name h1 {
  text-align: center;
  font-weight: normal;
  font-size: 40px;
}

#title h2 {
  color: #d6a124;
  text-align: center;
  margin-top: 1rem;
  font-size: 40px;
}

.my_photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: groove;
  border-radius: 10%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.sub_title {
  color: #d6a124;
  margin-top: 1rem;
}

section {
  margin-bottom: 1rem;
}

#my_contact_info ul li {
  color: red;
}

hr {
}

#profile {
  position: relative;
  height: 212;
  width: 166;
}
